#carousel-example-generic.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')
      li(data-target='#carousel-example-generic', data-slide-to='3')
      li(data-target='#carousel-example-generic', data-slide-to='4')
      li(data-target='#carousel-example-generic', data-slide-to='5')
      li(data-target='#carousel-example-generic', data-slide-to='6')
      li(data-target='#carousel-example-generic', data-slide-to='7')
      li(data-target='#carousel-example-generic', data-slide-to='8')
      li(data-target='#carousel-example-generic', data-slide-to='9')
      li(data-target='#carousel-example-generic', data-slide-to='10')
    // Wrapper for slides
    .carousel-inner
      .item.active
        img(src='images/flags_min.png', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/fsuufgame.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/FSUSemServiceDay2016.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/pub1_2014_min.png', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/pub2_2014_min.png', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/chopattrop_min.png', style='width: 100%;', alt='')
        .carousel-caption
          h3.imgHeader
          p.imgText
      .item
        img(src='images/fsu1-min.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/fsu2-min.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/fsu4-min.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/fsu5-min.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
      .item
        img(src='images/fsu6-min.jpg', style='width: 100%;', alt='...')
        .carousel-caption
          h3
          p
    // Controls
    a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
 