#footerInner.row
    .col-md-4.wow.animated.flipInY
        table#tblIcons
            tr
                td Connect
            tr
                td
                    a(href='https://www.facebook.com/tampanoles', target='_blank')
                        img(src='images/02_facebook.png', width='32')
                td(style='color: #507cbe;') Facebook
            tr
                td
                    a(href='https://twitter.com/tampanoles', target='_blank')
                        img(src='images/01_twitter.png', width='32')
                td(style='color: #63cdf1;')
                    | Twitter
            tr
                td
                    a(href='http://www.linkedin.com/groups/Tampa-Bay-Seminole-Club-140859/about', target='_blank')
                        img(src='images/07_linkedin.png', width='32')
                td(style='color: #90CADD;') Linked In
    .col-md-4.wow.animated.flipInY
        h4 2016  Tampa Bay Seminole Club
        img(src='images/logocircle.png')
    .col-md-4.wow.animated.flipInY
        table#tblContact
            tr
                td Contact
            tr
                td Tampa Bay Seminole Club
            tr
                td P.O. Box 21185
            tr
                td Tampa, FL 33622
            tr
                td info@tampanoles.com
            tr
                td

