extends layout

block content
    h1 Game Watching Party locations
    table#tblGameWatching
        tbody
            tr
                td
                    img(src='images/lodge.png')
                td
                    h3
                        a(href='http://www.lodgetampa.com/', target='_blank') The Lodge
                    | 516 S Howard Ave
                    br
                    | Tampa, FL 33606
                td (813) 251-5634
            tr
                td
                    img(src='images/barlouie.jpg')
                td
                    h3
                        a(href='http://www.barlouieamerica.com/locations/Tampa.aspx?locationName=International%20Plaza', target='_blank') Bar Louie Tampa
                    | 2223 N Westshore Blvd 
                    br
                    | Ste B-202
                    br
                    | Tampa, FL 33607
                td (813) 874-1919
            tr
                td
                    img(src='images/gaspars.jpg')
                td
                    h3
                        a(href='http://gasparsgrotto.com/', target='_blank') Gaspars Grotto
                    | 1805 E. 7th Ave.
                    br
                    | Tampa, FL 33605
                td (813) 248-5900
            tr
                td
                    img(src='images/irish31.jpg', width='160px')
                td
                    h3
                        a(href='https://irish31.com/', target='_blank') Irish 31 (Westchase)
                    | 10102 Montague St.
                    br
                    | Tampa, FL 33626
                td (813) 510-3931
            tr
                td
                    img(src='images/fergs.png', width='160px')
                td
                    h3
                        a(href='http://www.fergslive.com/', target='_blank') Ferg's Live
                    | 490 Channelside Drive. 
                    br
                    | Tampa, Florida, 33602
                td (813) 443-8403