extends layout

block content

  article
        h1 Tampa Noles Holiday Party - Dec 6th at The Lodge
        img(src='images/fsuholiday.jpg', width='200', style='float: right; margin: 15px;')
        p(style='font-size: large; padding-top: 10px;')
          | Come and celebrate the holidays with the Tampa Bay Seminole Club! Holiday sweaters/festive FSU attire is encouraged but not required. 
          | We will be collecting toys to donate to the foster kids at A Kids Place Tampa Bay (www.akidsplacetb.org) so please come with something good!
          br
          br
          | There is NO cost to attend and the club will provide a good spread of appetizers and one free beverage for guest that bring a toy. 
          br
          br
          | Time: 6pm-8pm
          br
          br
          | Location: The Lodge
          br
          a(target='_blank', href='https://www.google.com/maps/place/516+S+Howard+Ave,+Tampa,+FL+33606/@27.9388542,-82.4849009,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c3645a006897:0x8c9aee91c1a74f13!8m2!3d27.9388495!4d-82.4827122')
            | 516 S. Howard Ave.
            | Tampa, FL 33606
          br
          br
          a(href='https://www.facebook.com/events/1819092345012564/', target='_blank') Facebook Event Link
  article
    h1 Tampa Noles Recognized at Doak Campbell Stadium
    iframe(src='https://www.youtube.com/embed/bgnDkV-FxsM', style='width:100%; height: 350px;', frameborder='0', allowfullscreen='')
    br
    br
    p(style='font-size: large; padding-top: 10px;')
      | The Tampa Bay Seminole Club was recognized on the field before 70,000 fans prior to the football game between Florida State University and the University of Florida. The Tampa Bay Seminole Club recently provided a donation of $50,000 to the FSU CARE Program. According to its website, "CARE operates to provide equity and access to traditionally underrepresented students disadvantaged by virtue of educational and socioeconomic reasons."
  article
    h1 TAMPA BAY SEMINOLE CLUB RAISES $50,000 FOR FIRST-GENERATION SCHOLARSHIP STUDENTS
    h2 Local Businesses and Individuals Support Future Seminoles
    p(style='font-size: large; padding-top: 10px;')
      | TAMPA, Fla. (Nov. 18, 2016) - The Tampa Bay Seminole Club celebrated a $50,000 donation to FSU’s Center for Academic Retention and Enhancement today. The money will fund scholarships for as many as 33 first-generation students from Hillsborough and Pasco counties.
      br
      br
      |              “One of our club’s greatest accomplishments has been our ability to collectively raise funds that ultimately support Florida State students from our area,” says Tampa Bay Seminole Club President Grant Connor Mehlich. “One of the events that helps us do this is our annual Tampa Noles Block Party, which celebrates the kick off to football season and is one of the largest alumni events in the state, drawing Seminoles from around the country and even Europe.”
      br
      br
      |          The Tampa Bay Seminole Club chose to support CARE because the center provides much-needed academic support and preparation for first-generation college students who may face unique challenges as a student because of economic and educational circumstances. CARE’s mission is to help students who are traditionally underrepresented in higher education enroll, persist and graduate from college by providing them with the resources, tools and network of support that will aid in their academic and personal development.
      br
      br
      |          “The club’s donation will be matched by the state of Florida, which means this gift will have an even greater impact,” continues Mehlich. “We could not have been able to do this without the support of our dedicated club members. Together, we have changed a young person’s life.”  
      br
      br
      |          Established in 1976, the Tampa Bay Seminole Club has more than 15 Board members and brings together Florida State University alumni and friends to promote FSU and to enrich university ties with individuals living in the Tampa Bay area.
      br
      br
      |              In 2016, 411 first-generation college students applied for assistance through CARE. The center boasts higher retention and graduation rates than the university, and its alumni include FSU Global Scholars, Fulbright Award recipients and Rhodes Scholars.
      br
      br
      |              To learn more about the CARE program, visit 
      a(href='http:///www.care.fsu.edu', target='_blank') care.fsu.edu
      | .
  article
    h1
      | Congratulations Roberto Torres on being selected as our November Alumni of the Month!
    img(src='images/robert.jpg', width='350', style='float: right; margin: 15px;')
    p(style='font-size: large; padding-top: 10px;')
      | Congratulations to Roberto Torres of the 
      a(href='https://www.facebook.com/blindtigerybor/') The Blind Tiger Cafe Ybor City The Blind Tiger Cafe Seminole Heights
      |  on being selected as our November Alumni of the Month!
      br
      br
      |              Roberto is the co-Founder and Managing Partner of Black & Denim Apparel Company & The Blind Tiger Cafe. He is an entrepreneur specializing in the areas of accounting, audit, operations, logistics and financial services segments. He brings his expertise in retail and operations, both as a consultant and an executive, to assist start-ups and early companies with strategic, operational and expansion plans.
      br
      br
      |              Black & Denim is a Lifestyle brand rooted in the Americana, Music & Lifestyle. Over the last six years, he has helped and advised numerous companies in the realm of retail, apparel, merchandising and technology. Roberto is a proud Seminole having earned a BS in Accounting and a BS in Finance from Florida State University in Tallahassee, Florida. A Native from Panama he enjoys traveling.
      br
      br
      |              The Blind Tiger Café is a speakeasy inspired coffee house in the heart of the Historic Ybor City District. Founded in November of 2014, the Café has a Coffee, Tea & Vegan pastries offerings. It houses the flagship store for Black & Denim. It welcomed a second location on November of 2015 in the Historic District of Seminole Heights. The Blind Tiger Café is now roasting coffee since November 2015 through The Lab Coffee (a collaborative roasting concept) and currently working on its 4th location in the Tampa Bay Area.
      br
      br
      |              In the community, Roberto is the Marketing Committee Chair for the Ybor City Development Corporation. He is also member of the Board of Advisors to the John P. Lowth Entrepreneurship Center, at the John Sykes College of Business for the University of Tampa. Roberto is also the President of Stand Up Tampa. Under the leadership of the Tampa/Hillsborough Economic Development Corporation, is a group of young executives that are passionate about highlighting the City of Tampa as THE place to start your business or further your professional career.
      a(href='http://www.facebook.com/standuptampa', target='_blank') www.facebook.com/standuptampa
  article
    h1 Join the Tampa Noles at EPCOT Food & Wine Festival 10/22/2016
    img(src='images/foodwine.jpg', width='350', style='float: right; margin: 15px;')
    p(style='font-size: large; padding-top: 10px;')
      | Join the Tampa Noles at EPCOT's legendary Food & Wine Festival on Saturday October 22, 2016! Due to demand, our bus ride sold out, but you can still join us there! Hotels are aplenty and range from inexpensive to 5-star.
      | EPCOT F&W Festival boasts food and drinks from over 36 countries, including over 300 different wines, more than 250 cocktails,  about a hundred domestic, international, and craft beers, and hundreds of small plate food and dessert dishes (most food and drinks sell for about $4-$8 each - so it's a great way to sample everything!).  
      br
      br
      | Also, the musical act performing at EPCOT on October 22 is TOAD THE WET SPROCKET.
      br
      br
      | Whether riding the Tampa Noles bus or driving separately, meet at 12 NOON in the UK section of EPCOT.  Specifically, we'll gather across from the Rose and Crown Pub at the 2 bright red London phone booths - picture below.  Grab a pint from the Rose and Crown, sample some of the legendary Lobsterman's Pie (think Shepard's Pie, but with lobster instead of meat), hang out by the phone booths while the Noles assemble, and meet some new friends (hint:  look for people wearing Garnet and Gold and/or the Tampa Noles T-Shirt!)
      br
      br
      | At 12:30, the group will move counterclockwise to France (there's a secret Champagne Bar in the very back of France).  Afterwards, the group will continue moving counterclockwise around the EPCOT countries.  This is an informal gathering - feel free to stick with the group, do your own thing, whatever!
      br
      br
      | For more information, check out our EventBrite page here:
      a(target='_blank', href='https://www.eventbrite.com/e/3rd-annual-tampanoles-epcot-food-wine-festival-bus-trip-2016-tickets-27047109633')
        | EventBrite
  article
    h1 BIG EVENTS PLANNED FOR FSU vs USF WEEKEND
    img(src='images/usfweekend.jpg', width='550', style='margin: 15px;')
    br
    br
    |         For more information, check out the EventBrite page 
    a(href='https://www.eventbrite.com/e/seminole-boosters-tampa-bay-seminole-club-present-fsu-v-usf-weekend-events-tickets-27130412795', target='_blank') here.
    | .
  article
    h1 FSU Alumni Association President Visits Tampa
    iframe(src='https://www.youtube.com/embed/3dd_ZJQSqTQ', style='width:100%; height: 350px;', frameborder='0', allowfullscreen='')
    br
    br
    |         To join the FSU Alumni Association, 
    a(href='https://one.fsu.edu/alumni/membership/join', target='_blank') here
    | .