extends layout

block content
    h1 Leadership
    h3 Executive Board
    .leadershippad
      .row
        .col-md-3
          .leaderShipSq.gold(onclick="changeBoard('divGrant');")
            .position President
            .name Grant Mehlich
        .col-md-3
          .leaderShipSq.gold(onclick="changeBoard('divJohn');")
            .position President-Elect
            .name John Byrne
        .col-md-3
          .leaderShipSq.gold(onclick="changeBoard('divMichael');")
            .position Treasurer
            .name Michael Hayes
        .col-md-3
          .leaderShipSq.gold(onclick="changeBoard('divNaseem');")
            .position Secretary
            .name Naseem Rahman
      div(style='font-size:xx-small; text-align:right;') Click Name for info.
      #divGrant.divInfo
        h3 President - Grant Mehlich
        div
          | Grant grew up in Stuart, Florida and became the third member of his family to attend and graduate from The Florida State University.
          br
          br
          | Grant graduated from FSU in 2003 with a degree in Social Sciences and a Minor in Business. During his time in Tallahassee, he served as Social Chair of his fraternity and was involved in raising money and awareness for Dance Marathon. He also co-owned and operated a social website, which was very popular with the student community. 
          br
          br
          | After graduating, Grant fulfilled a lifelong dream and moved to New York City and began his career, working for American International Group (AIG). Starting as a retro-spective adjuster for Fortune 1000 accounts, Grant worked his way up to a Commercial P&C Underwriter and Program Manager for Global Energy Middle Market.
          br
          br
          | After 3 years (and one especially cold winter), Grant moved back to Florida in 2006, and began a new career as a Commercial Insurance Broker with a large corporate firm. In 2009, he started his own insurance agency, GCM Insurance & Risk Management, LLC with locations in Tampa and Stuart, Florida.
          br
          br
          | Grant resides in Tampa, along with his wife Jessica and two rescued dogs, Khloe & Monkey. He serves as a board member for the Ybor City Development Council (YCDC) and is a board member for the Krewe of Italia. In his spare time, he enjoys volunteering for various charities in the community, traveling, and promoting everything that FSU has to offer.
      #divJohn.divInfo(style='display: none;')
        h3 President-Elect - John Byrne
        div
          | John is a 2002 FSU College of Law alumus and has served on the Tampa Bay Seminole Club Board of Directors since 2009. He resides in South Tampa with his wife Laura and two sons, James and John Jr.
      #divMichael.divInfo(style='display: none;')
        h3 Treasurer - Michael Hayes
        div
          | In 1993, Michael graduated from Florida State University with a bachelor’s degree in Accounting and
          | Finance. His wife, Tammy, also graduated from FSU in 1993 with a bachelor’s degree in Finance.
          | Michael later completed an online certification program through FSU for financial planning in 2005.
          | Their daughter is a current student at FSU majoring in Communications. Michael, his wife, and their son
          | currently reside in Valrico.
          br
          br
          | Michael is a shareholder with Ferraro Hayes, CPA’s located in Brandon. In addition to being a CPA,
          | Michael is also a Certified Financial Planner. He has worked in public accounting since 1995 specializing
          | in tax preparation and advice for small businesses and individuals. 
          br
          br
          | Michael is a graduate of the Leadership Brandon program provided by the Greater Brandon Chamber of
          | Commerce. He has been a Rotarian since 1996, and is a current member of the Rotary Club of Brandon.
          | In addition to being a rotary club member, Michael is the current treasurer for the Brandon ’86 Rotary
          | Endowment Fund and the current president of the Valrico Rotary Endowment Fund.
          br
          br
          | Other than being a supporter and advocate for all things FSU, Michael is a mediocre golfer and enjoys
          | traveling with his family.
      #divNaseem.divInfo(style='display: none;')
        h3 Secretary - Naseem Rahman
        div
          | Naseem is a Tampa native and attended Berkeley Prep, Kindergarten through 12th grade. Naseem graduated from Florida State University, School of Business, in 2007 with her degree in Marketing. Naseem then worked in Orlando as a store manager for Abercrombie & Fitch. Three years later, she left to get her MBA in 2010 and graduated in December 2011. Naseem moved back to Tampa in 2012 and joined the Tampa Bay Seminole Club Board shortly after moving back. Outside of the club, Naseem is also a very active member of the Junior League of Tampa. Naseem has been in radio sales at Beasley Media Group (formerly CBS radio) for the last three years.
      #divMax.divInfo(style='display: none;')
        h3 President Max Oligario
        div
          | Max is a Senior Vice President and Senior Client Manager in Global Commercial Banking with Bank of America/Merrill Lynch where he prospects and maintains full banking relationships with corporations throughout Tampa Bay with annual revenues up to $2Billion. Max began his banking career in 1998 and has extensive experience in commercial lending, commercial real estate lending and retail banking previously with SunTrust Bank and JP Morgan Chase. Max has obtained several performance awards over his career
          | including the Chairman’s Circle, the Pinnacle Club, Peak Performer, and twice named #1 overall Commercial Real Estate Lender for the State of Florida.
          br
          br
          | Max is currently President and Executive Board member of the Tampa Bay Seminole Club and also serves on the Executive Board of the Florida State University National Alumni Association as Treasurer. For his work with the Tampa Bay Seminole Club, Max was named 2015 Seminole Club “Volunteer of the Year”. He is Chapter Founder and Immediate Past President of the Tampa Bay Chapter of the National Black MBA Association. Due to his efforts in starting the Chapter and serving as president of 7 years, The organization
          | renamed their scholarship program, “ The Max Oligario Visionary Scholarship Program”. Max also serves on the board of directors of the Tampa Club, Tampa’s premier business social club and is a member of the Hillsbrough County Economic Development Corporation Board of Investors.
          br
          br
          | Max is a member of an advisory board to the John H. Sykes College of Business at the University of Tampa as well as a member of the Florida Advisory Committee to the U.S Global Leadership Coalition. Max has served as a Golden Opportunities mentor for Florida State University and is the founder of “The Collective” networking social, a quarterly networking event for Black Business professionals. Max is also former executive board member of the Kids Charity Tampa Bay and the Halo Foundation.
          br
          br
          | Max is a 2002 graduate of The Tampa Connection. In 2009, he was selected as an Up and Comer by the Tampa Bay Business Journal and was also recognized as one of the top minority bankers in the Tampa Bay area by Power Broker Magazine. In 2010 he was a finalist for “Man of the Year” with the Leukemia and Lymphoma Society where he raised over $6,000 during a 10-week period.
          br
          br
          | Max has a Bachelor of Science degree in Finance with a minor in Communications from The Florida State University and a Masters in Business Administration degree from The University of South Florida. In his spare time Max enjoys donating his time in the community, traveling, spending time with family and friends, networking, playing and watching soccer, and supporting the Florida State Seminoles.
      #divScott.divInfo(style='display: none;')
        h3 Treasurer Scott Hundley
        div
          | Scott graduated from with a degree in Finance from FSU in 2003 and Accounting from USF in 2005. While at FSU, he was a refounding member and Vice President of the Pi Kappa Alpha Fraternity. He works as a CPA on small business and personal tax at his office in Riverview.
          br
          br
          | Scott has served on the Tampa Bay Seminole Club Board for the last 4 years as Treasurer. In addition to the Seminole Club, he volunteers with the Juvenile Diabetes Research Foundation. He grew up in Brandon and enjoys residing there to be close to his family and girlfriend Jessica.
      #divAdam.divInfo(style='display: none;')
        h3 Secretary Adam Thomas
        div
          | Adam Thomas was born and raised in Tampa, FL and played baseball and football at Hillsborough HS. He graduated from the International Baccalaureate Program in 1999.  He continued his education at Florida State University and graduated in 2003 with a B.S. in Public Relations.   While at FSU he interned in the Communications Office of Governor Jeb Bush, served as Treasurer of the Student Public Relations Association and was Vice‐President of Lambda Chi Alpha Fraternity.
          br
          br
          | After graduation, he moved back to Tampa and has worked in the software solutions industry the past nine years.  He has been a member of the Tampa Bay Seminole Club for five years and has sat on the Executive Board the past two years as Club Secretary.  In his free time he enjoys watching FSU sports, college football and going to Rays games. 
          br
          br
          | He also has co‐hosted a FSU football podcast the past five seasons entitled The Renegade Report.
          br
          br
          | Adam and his wife currently reside in Carrollwood.
      h3 Board Members
      .row
        .col-md-3
          .boardSq.gold
            div Christopher Branton 
        .col-md-3
          .boardSq.gold
            div John Pitts
        .col-md-3
          .boardSq.gold
            div Constance Green
        .col-md-3
          .boardSq.gold
            div Joe Strickland
      .row
        .col-md-3
          .boardSq.gold
            div Amber Kukulya
        .col-md-3
          .boardSq.gold
            div Katie Trott
        .col-md-3
          .boardSq.gold
            div Josh Joiner
        .col-md-3
          .boardSq.gold
            div Camille Gomez
      .row
        .col-md-3
          .boardSq.gold
            div Kim Polacek
        .col-md-3
          .boardSq.gold
            div Michael Lortz
        .col-md-3
          .boardSq.gold
            div Kyle Simon
        .col-md-3
          .boardSq.gold
            div Scott McClelland
      h3 Past presidents
      .row
        .col-md-3
          .boardSq.gold
            div Max Oligario
        .col-md-3
          .boardSq.gold
            div Robbie Cox
        .col-md-3
          .boardSq.gold
            div Tony Lee
        .col-md-3
          .boardSq.gold
            div Matt Borasch
      .row
        .col-md-3
          .boardSq.gold
            div Mike Palios
        .col-md-3
          .boardSq.gold
            div Kenny Zoodsma
        .col-md-3
          .boardSq.gold
            div Stephen Myers
        .col-md-3
          .boardSq.gold
            div Craig Hoss
      .row
        .col-md-3
          .boardSq.gold
            div Chip Storm
        .col-md-3
          .boardSq.gold
            div Laura Webb
        .col-md-3
          .boardSq.gold
            div Robert Delgado
        .col-md-3
          .boardSq.gold
            div Suzanne Beville
      .row
        .col-md-3
          .boardSq.gold
            div Mary Ann Stiles
      br
      br
